tbody,thead,th,td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

h2{
    text-align: center;
}

header{
    width: 55%;
    margin: 0 auto;
}

tr{
    height: 40px;
}

table{
    margin: 0 auto;
    width: 55%;
    border: 1px solid black;
    border-collapse: collapse;
}

button{
    border-radius: 10px;
}

#add{
    background-color: black;
    color: white;
    border-radius: 0;
    border: none;
    height: 40px;
    width: 80px;
}