<h2>To-Do-List</h2>
<header>
    <button id="add" [routerLink]="['/create']"> +Add New</button>
</header>
<br>

<div>
    <table>
        <thead>
            <tr>
                <th style="color: red; font-weight: bold; width: 20px;">N</th>
                <th style="color: red; font-weight: bold;">Title</th>
                <th style="color: red; font-weight: bold;">Starting Date</th>
                <th style="color: red; font-weight: bold;">Deadline Date</th>
                <th style="color: red; font-weight: bold;">Responsible Person</th>
                <th style="color: red; font-weight: bold;">Status</th>
                <th style="color: red; font-weight: bold;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="todos.length>0; else eleseBlock">
                <tr *ngFor="let todo of todos;  let i=index"
                 [style]="todo.status==todoStatus.pending? {'background': '#FFFF33'}: {'background': 'lime'}"
                 >
                    <td>{{i+1}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.createDate |customDate }}</td>
                    <td>{{todo.deadline |customDate }}</td>
                    <td>{{todo.responsiblePersonName }}</td>
                    <td>{{todoStatus[todo.status] }}</td>
                    
                    <td>
                        <button style="background-color:rgb(0, 110, 255); " (click)="statusChange(todo)">change status</button>
                        <button style="background-color:rgb(234, 255, 0);" [routerLink]="['/edit/', todo.id]">update</button>
                        <button style="background-color: red; "  (click)="onDelete(todo.id)">delete</button>
                    </td>
                </tr>
            </ng-container>
                <ng-template #eleseBlock>
                     To-Do List Empty
                </ng-template>
        </tbody>
    </table>
</div>
